:root {
    --suelo: rgb(163, 163, 163);
    --pasto: rgb(13, 156, 0);
    --sala-luz: rgb(97, 97, 97);
    --sala-sombra: rgb(63, 63, 63);
    --vidrio-luz: rgb(32, 224, 238);
    --vidrio-sombra: rgb(22, 126, 129);
    --blanco-luz: rgb(235, 235, 235);
    --blanco-sobra: rgb(182, 182, 182);
    --blanco-suelo: rgb(128, 126, 126);
    --madera-luz: rgb(197, 136, 4);
    --madera-sombra: rgb(117, 80, 0);
    --madera-top: rgb(155, 106, 0);
    --cocina-luz: rgb(143, 143, 143);
    --cocina-sombra: rgb(110, 110, 110); 
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(105, 148, 254);
}
.container-gral {
    background: url(img/clouds.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 720px;
    height: 720px;
    margin: 10px auto 0 auto;
}
/* ---- Z Index Gral ---- */

.sala { z-index: 1;}
.cocina {z-index: 2;}
.madera {z-index: 3;}
.balcon { z-index: 4;}
.madera-techo {z-index: 6;}

/* ---- SUELO ---- */
.suelo {
    position: absolute;
    background-color: var(--suelo);
    width: 720px;
    height: 380px;
    left: 0px;
    top: 380px;
}
.pasto {
    position: absolute;
    background: url(img/pasto.jpeg);
    background-size: 20%;
    width: 520px;
    height: 150px;
    bottom: 120px;
    left: 100px;
    transform: skew(-51deg);
}
.position {
    position: absolute;
}
/* ---- VIDRIOS ---- */
.vidrio-luz {
    position: absolute;
    background: url(img/cristal.png);
    background-size: 100%;
}
.vidrio-sombra {
    position: absolute;
    background: url(img/cristal.png);
    background-size: 100%;
}
/* ---- SALA ---- */
.sala-pared-front {
    position: absolute;
    background-color: var(--sala-luz);
    width: 200px;
    height: 300px;
    bottom: 120px;
    left: 300px;
}
.sala-vidrio-luz-1 {
    width: 120px;
    height: 120px;
    top: 20px;
    left: 40px;
    background-size: 25%;
}
.sala-vidrio-luz-2 {
    width: 120px;
    height: 100px;
    bottom: 0;
    left: 40px;
    background-size: 25%;
}
.sala-pared-sombra {
    position: absolute;
    background-color: var(--sala-sombra);
    width: 100px;
    height: 300px;
    transform: skewY(-40deg);
    bottom: 161px;
    left: 500px;
}
.sala-vidrio-sombra-1 {
    width: 20px;
    height: 100px;
    z-index: 2;
    top: 20px;
    left: 30px;
}
.sala-vidrio-sombra-2 {
    width: 20px;
    height: 100px;
    z-index: 2;
    top: 20px;
    left: 70px;
}
.sala-vidrio-sombra-3 {
    width: 54px;
    height: 100px;
    bottom: 0;
    z-index: 2;
    left: 30px;
    background-size: 33%;
}

/* ---- COCINA ---- */
.cocina-pared-front {
    background-color: var(--cocina-luz);
    width: 150px;
    height: 120px;
    bottom: 104px;
    left: 130px;
}
.cocina-pared-sombra {
    background-color: var(--cocina-sombra);
    width: 20px;
    height: 120px;
    bottom: 112px;
    left: 280px;
    transform: skewY(-40deg);
}
.cocina-vidrio-luz-1 {
    width: 20px;
    height: 100px;
    top: 10px;
    left: 30px;
}
.cocina-vidrio-luz-2 {
    width: 20px;
    height: 100px;
    top: 10px;
    left: 90px;
}

/* ---- BALCON ---- */
.balcon-pared-bottom {
    background-color: var(--blanco-luz);
    width: 180px;
    height: 30px;
    bottom: 218px;
    left: 110px;
    
}
.balcon-pared-bottom-sombra {
    background-color: var(--blanco-sobra);
    width: 29px;
    height: 30px;
    transform: skewY(-41deg);
    bottom: 230px;
    left: 290px;

}
.balcon-suelo {
    background-color: var(--blanco-suelo);
    width: 180px;
    height: 25px;
    transform: skewX(-50deg);
    bottom: 248px;
    left: 125px;
    z-index: 3;
}
.balcon-pared-left {
    background-color: var(--blanco-luz);
    width: 30px;
    height: 200px;
    bottom: 240px;
    left: 110px;
}
.balcon-pared-left-sombra {
    background-color: var(--blanco-sobra);
    width: 20px;
    height: 160px;
    bottom: 256px;
    left: 140px;
    transform: skewY(-40deg);
    z-index: 3;
}
.balcon-pared-top {
    background-color: var(--blanco-luz);
    width: 180px;
    height: 30px;
    top: 280px;
    left: 110px;
    z-index: 5;
}
.balcon-pared-top-sombra {
    background-color: var(--blanco-sobra);
    width: 140px;
    height: 30px;
    transform: skewY(-39deg);
    top: 223px;
    left: 290px;
    z-index: 5;

}
.balcon-techo {
    background-color: var(--blanco-suelo);
    width: 181px;
    height: 114px;
    transform: skew(-51deg);
    top: 166px;
    left: 180px;
}
.balcon-pared-fondo {
    background-color: var(--blanco-sobra);
    width: 20px;
    height: 20px;
    top: 190px;
    left: 410px;
    z-index: 2;

}
/* ---- MADERA CUARTO ---- */
.cuarto-linea-top {
    background-color: var(--madera-luz);
    width: 360px;
    height: 20px;
    top: 300px;
    left: 160px;
    z-index: 4;
}
.cuarto-linea-top-sombra {
    background-color: var(--madera-sombra);
    width: 120px;
    height: 20px;
    top: 252px;
    left: 520px;
    transform: skewY(-39deg);
}
.cuarto-techo {
    background-color: var(--madera-top);
    width: 262px;
    height: 96px;
    bottom: 420px;
    left: 318px;
    transform: skewX(-51deg);
}
.cuarto-pared-luz {
    background-color: var(--madera-luz);
    width: 130px;
    height: 154px;
    top: 310px;
    left: 150px;
    z-index: 3;
}
.cuarto-pared-sombra {
    background-color: var(--madera-sombra);
    width: 20px;
    height: 166px;
    top: 290px;
    left: 280px;
    transform: skewY(-40deg);
}
.cuarto-vidrio-luz-1 {
    width: 30px;
    height: 120px;
    left: 20px;
    top: 20px;
}
.cuarto-vidrio-luz-2 {
    width: 30px;
    height: 120px;
    left: 80px;
    top: 20px;

}

/* ---- MADERA TECHO ---- */

.techo-madera-luz {
    background-color: var(--madera-luz);
    width: 190px;
    height: 20px;
    top: 270px;
    left: 314px;
}
.techo-madera-sombra {
    background-color: var(--madera-sombra);
    width: 100px;
    height: 20px;
    bottom: 470px;
    left: 504px;
    transform: skewY(-39deg);
}
.techo-madera {
    background-color: var(--madera-top);
    width: 190px;
    height: 80px;
    bottom: 450px;
    left: 364px;
    transform: skewX(-51deg); 
}